body {
    background-image: url(../images/andaman-sea-beach-beautiful-459252.jpg);
    height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

#pic {
    width: 200px;
    height: 200px;
}

.display-1 {
    text-align: center;
}
.inst {
    text-align: center;
}

.compGuess {
    text-align: center;
}
.playGuess {
    text-align: center;
}
.htmlWin {
    text-align: center;
}
.htmlLoss {
    text-align: center;
}